.bg {
  background-color: #1c2abd;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-items: center;
  .h1 {
    position: static;
    top: 0;
    width: 100%;
    background-color: #fbc334;
    height: 12vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .butdivcarlog {
      .button-82-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          filter: brightness(110%);
          -webkit-filter: brightness(110%);

          .button-82-front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }

          .button-82-shadow {
            transform: translateY(4px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }
        }

        &:active {
          .button-82-front {
            transform: translateY(-2px);
            transition: transform 34ms;
          }

          .button-82-shadow {
            transform: translateY(1px);
            transition: transform 34ms;
          }
        }

        &:focus:not(:focus-visible) {
          outline: none;
        }
      }

      .button-82-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      }

      .button-82-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
          90deg,
          rgba(5, 17, 138, 1) 0%,
          rgba(34, 48, 183, 1) 8%,
          rgba(34, 48, 183, 1) 92%,
          rgba(5, 17, 138, 1) 100%
        );
      }

      .button-82-front {
        display: block;
        position: relative;
        padding: 1vh 2vw;
        border-radius: 12px;
        font-size: 1rem;
        color: white;
        background: #3140cc;
        will-change: transform;
        transform: translateY(-4px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

        @media (min-width: 768px) {
          font-size: 1.25rem;
          padding: 1vh 1vw;
        }
      }
      margin-left: 1vw;
      margin-right: 1vw;
      height: fit-content;
      width: fit-content;
      .logolog {
        height: 5vh;
      }
      .butlogtext {
        font-size: 1.5vh;
        width: 7.5vw;
      }
    }
    .logodivlog {
      .button-82-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          filter: brightness(110%);
          -webkit-filter: brightness(110%);

          .button-82-front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }

          .button-82-shadow {
            transform: translateY(4px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }
        }

        &:active {
          .button-82-front {
            transform: translateY(-2px);
            transition: transform 34ms;
          }

          .button-82-shadow {
            transform: translateY(1px);
            transition: transform 34ms;
          }
        }

        &:focus:not(:focus-visible) {
          outline: none;
        }
      }

      .button-82-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      }

      .button-82-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
          90deg,
          rgba(5, 17, 138, 1) 0%,
          rgba(34, 48, 183, 1) 8%,
          rgba(34, 48, 183, 1) 92%,
          rgba(5, 17, 138, 1) 100%
        );
      }

      .button-82-front {
        display: block;
        position: relative;
        padding: 1vh 2vw;
        border-radius: 12px;
        font-size: 1rem;
        color: white;
        background: #3140cc;
        will-change: transform;
        transform: translateY(-4px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

        @media (min-width: 768px) {
          font-size: 1.25rem;
          padding: 1vh 1vw;
        }
      }
      margin-left: 1vw;
      margin-right: 1vw;
      height: fit-content;
      width: fit-content;
      .logolog {
        height: 5vh;
      }
      .butlogtext {
        font-size: 1.5vh;
        width: 7.5vw;
      }
    }
    .butdivraillog {
      .button-82-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          filter: brightness(110%);
          -webkit-filter: brightness(110%);

          .button-82-front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }

          .button-82-shadow {
            transform: translateY(4px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }
        }

        &:active {
          .button-82-front {
            transform: translateY(-2px);
            transition: transform 34ms;
          }

          .button-82-shadow {
            transform: translateY(1px);
            transition: transform 34ms;
          }
        }

        &:focus:not(:focus-visible) {
          outline: none;
        }
      }

      .button-82-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      }

      .button-82-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
          90deg,
          rgba(5, 17, 138, 1) 0%,
          rgba(34, 48, 183, 1) 8%,
          rgba(34, 48, 183, 1) 92%,
          rgba(5, 17, 138, 1) 100%
        );
      }

      .button-82-front {
        display: block;
        position: relative;
        padding: 1vh 2vw;
        border-radius: 12px;
        font-size: 1rem;
        color: white;
        background: #3140cc;
        will-change: transform;
        transform: translateY(-4px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

        @media (min-width: 768px) {
          font-size: 1.25rem;
          padding: 1vh 1vw;
        }
      }
      margin-left: 1vw;
      margin-right: 1vw;
      height: fit-content;
      width: fit-content;
      .logolog {
        height: 5vh;
      }
      .butlogtext {
        font-size: 1.5vh;
        width: 7.5vw;
      }
    }
  }
  .f1 {
    background-color: #404fde;
    width: 100%;
    position: static;
    bottom: 0;
    height: 18vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vh 1vw;
    .f1company {
      width: 30vw;
      position: static;
      left: 0;
      padding: 1vh 3vw;
      display: flex;
      flex-wrap: wrap;
      .f1logodiv {
        margin-right: 8px;
        margin-bottom: 1vh;
        .f1logo {
          -webkit-box-shadow: 0px 0px 5px 8px rgba(251, 195, 52, 1);
          -moz-box-shadow: 0px 0px 5px 8px rgba(251, 195, 52, 1);
          box-shadow: 0px 0px 5px 8px rgba(251, 195, 52, 1);
          height: 7vh;
        }
      }
      .f1comptext {
        font-size: 1vh;
        margin-left: 1vw;
        color: white;
      }
    }
    .f1contact {
      position: static;
      width: 22vw;
      align-items: center;
      .f1contacts {
        display: flex;
        flex-wrap: wrap;
      }
      .button-82-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          filter: brightness(110%);
          -webkit-filter: brightness(110%);

          .button-82-front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }

          .button-82-shadow {
            transform: translateY(4px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
          }
        }

        &:active {
          .button-82-front {
            transform: translateY(-2px);
            transition: transform 34ms;
          }

          .button-82-shadow {
            transform: translateY(1px);
            transition: transform 34ms;
          }
        }

        &:focus:not(:focus-visible) {
          outline: none;
        }
      }

      .button-82-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
      }

      .button-82-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
          90deg,
          rgba(5, 17, 138, 1) 0%,
          rgba(34, 48, 183, 1) 8%,
          rgba(34, 48, 183, 1) 92%,
          rgba(5, 17, 138, 1) 100%
        );
      }

      .button-82-front {
        display: block;
        position: relative;
        padding: 1vh 2vw;
        border-radius: 12px;
        font-size: 1.1rem;
        color: white;
        background: #3140cc;
        will-change: transform;
        transform: translateY(-4px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

        @media (min-width: 768px) {
          font-size: 1.25rem;
          padding: 2vh 1vw;
        }
      }
      .f1contactdiv {
        margin: 1vw;
      }
      .f1applydiv {
        margin: 1vw;
      }
    }
    .f1social {
      position: static;
      right: 0;
      margin-bottom: 1vh;
      .linkedindiv {
        margin: 0.1vw;
        img {
          width: 3vh;
        }
        button {
          background-color: transparent;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          border: 0;
          width: 3vh;
          cursor: pointer;
        }
      }
      .twitterdiv {
        margin: 0.1vw;
        img {
          width: 3vh;
        }
        button {
          background-color: transparent;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          border: 0;
          width: 3vh;
          cursor: pointer;
        }
      }
      .instadiv {
        margin: 0.1vw;
        img {
          width: 3vh;
        }
        button {
          background-color: transparent;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          border: 0;
          width: 3vh;
          cursor: pointer;
        }
      }
      .ytdiv {
        margin: 0.1vw;
        img {
          width: 3vh;
        }
        button {
          background-color: transparent;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          border: 0;
          width: 3vh;
          cursor: pointer;
        }
      }
    }
  }
  .maincontent {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    .vidmain {
      margin-bottom: 2vh;
      margin-right: 0.5vw;
      background-color: #232125;
      padding: 0.5vw;
      height: min-content;
      -webkit-box-shadow: 0px 0px 6px 1px rgba(35, 33, 37, 1);
      -moz-box-shadow: 0px 0px 6px 1px rgba(35, 33, 37, 1);
      box-shadow: 0px 0px 6px 1px rgba(35, 33, 37, 1);
      video {
        width: 48vw;
        height: min-content;
      }
    }
    .corpotekst {
      max-width: 48vw;
      text-wrap: wrap;
      height: min-content;
      background-color: #2d39ba;
      -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      color: #ffffff;
      padding: 0.2vw;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: italic;
      .przerwa {
        height: 1vh;
      }
    }
    .questions {
      margin-top: 2vh;
      font-size: larger;
      color: #ffffff;
      .q {
        margin: 1vw;
        padding: 1vw;
        -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
        background-color: #2d39ba;
        .qqs {
          margin-bottom: 0.5vh;
        }

        .dyst {
          width: 20vw;
        }
        button {
          margin: 0.5vw;
        }
      }
    }
    .cnt1 {
      font-size: xx-large;
      height: fit-content;
      color: #ffffff;
      margin: 1vw;
      padding: 1vw;
      -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      background-color: #2d39ba;
    }
    .cnt {
      height: fit-content;
      color: #ffffff;
      margin: 1vw;
      padding: 1vw;
      -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
      background-color: #2d39ba;
    }
  }
}
